#menu-toggle:checked + #menu {
    display: block;
  }
.center{
  margin:auto;
  margin-top: 20px;
}
.create{
  max-width:90%;
  margin:0 auto;
  text-align: center;
}
.create label{
  text-align: left;
  display: block;

}

.create input ,.create textarea, .create select
{
   width : 100%;
   padding: 6px 10px;
   margin: 10px 0;
   border: 1px solid black;
   box-sizing: border-box;
   display: block;
}
.create textarea{
  height: 400px;
}